@model TeamViewModel
@{
    ViewBag.Title = "Team Managment";
    var dto = new CreateTeamDto();
}
<!--begin::Header-->
<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
</div>
<!--end::Toolbar-->

<div id="kt_app_content_container" class="app-container container-xxl">
    <div class="card mb-5 mb-xl-8">
        <div class="card-header border-0 pt-5" >
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label fw-bold fs-3 mb-1"> Team Managment </span>
                <span class="text-muted mt-1 fw-semibold fs-7">Over 500 members</span>
            </h3>

            <!--begin::Actions-->
            <div style="padding-left:420px" class="d-flex align-items-center gap-2 gap-lg-3">
                <!--begin::Filter menu-->
                <div class="m-0">
                    <!--begin::Menu toggle-->
                    <a class="btn btn-sm btn-flex bg-body btn-color-gray-700 btn-active-color-primary fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                        <span class="svg-icon svg-icon-6 svg-icon-muted me-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->Filter
                    </a>
                </div>
                <div  class="card-toolbar border-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" >
                    <a class="btn btn-sm btn-light btn-active-primary" data-popup-url="Create" data-bs-toggle="modal" data-bs-target="#kt_modal_1">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                        <span class="svg-icon svg-icon-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                                <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        New Team
                    </a>
                </div>
                <!--end::Primary button-->

            </div>
            <!--end::Actions-->
            @*<div id="popupContainer"></div>*@
            <partial  name="_Create" model="@dto">


        </div>
        <!--end::Header-->
        <div class="card-body py-3">
            <div class="table-responsive">
                <table id="kt_datatable_dom_positioning" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800 px-7">
                            <th >@Html.DisplayNameFor(x => x.Name)</th>
                            <th class="text-center">@Html.DisplayNameFor(x => x.TeamLeaderUserName)</th>
                            <th class="text-center">@Html.DisplayNameFor(x => x.NumOfTeamMember)</th>
                            <th class="text-center">Status Team</th>
                            <th class="text-center">العمليات</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="~/datatable/datatable.js"></script>
    <script>
        DataTable(
            "",
            [
                { data: "name", name: "Name", className: "dt-right align-middle" },
                { data: "teamLeaderUserName", name: "TeamLeaderUserName", className: "dt-center align-middle" },
                { data: "numOfTeamMember", name: "NumOfTeamMember", className: "dt-center align-middle" },
                { data: null, name: null, className: "dt-right align-middle",
                    render: function (data) {
                        var badgeClass = '';
                        var txt = '';

                        if (data.isDelete) {
                            badgeClass = 'badge-light-danger';
                            txt = 'delete';
                        } else if (!data.isDelete) {
                            badgeClass = 'badge-light-success';
                            txt = 'exist';
                        }

                        return "<td class='text-end'>" +
                            "<span class='badge " + badgeClass + "'>" + txt + "</span>" +
                            "</td>";
                    }
                },
                {
                    data: null,
                    name: null,
                    orderable: false,
                    className: "dt-center align-middle",
                    render: function (data) {
                        return "<a href='/Team/Update/" + data.id + "' class='btn'>" +
                            "<span class='svg-icon svg-icon-muted svg-icon-2hx'>" +
                            "<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>" +
                            "<path opacity='0.3' fill-rule='evenodd' clip-rule='evenodd' d='M2 4.63158C2 3.1782 3.1782 2 4.63158 2H13.47C14.0155 2 14.278 2.66919 13.8778 3.04006L12.4556 4.35821C11.9009 4.87228 11.1726 5.15789 10.4163 5.15789H7.1579C6.05333 5.15789 5.15789 6.05333 5.15789 7.1579V16.8421C5.15789 17.9467 6.05333 18.8421 7.1579 18.8421H16.8421C17.9467 18.8421 18.8421 17.9467 18.8421 16.8421V13.7518C18.8421 12.927 19.1817 12.1387 19.7809 11.572L20.9878 10.4308C21.3703 10.0691 22 10.3403 22 10.8668V19.3684C22 20.8218 20.8218 22 19.3684 22H4.63158C3.1782 22 2 20.8218 2 19.3684V4.63158Z' fill='currentColor'/>" +
                            "<path d='M10.9256 11.1882C10.5351 10.7977 10.5351 10.1645 10.9256 9.77397L18.0669 2.6327C18.8479 1.85165 20.1143 1.85165 20.8953 2.6327L21.3665 3.10391C22.1476 3.88496 22.1476 5.15129 21.3665 5.93234L14.2252 13.0736C13.8347 13.4641 13.2016 13.4641 12.811 13.0736L10.9256 11.1882Z' fill='currentColor'/>" +
                            "<path d='M8.82343 12.0064L8.08852 14.3348C7.8655 15.0414 8.46151 15.7366 9.19388 15.6242L11.8974 15.2092C12.4642 15.1222 12.6916 14.4278 12.2861 14.0223L9.98595 11.7221C9.61452 11.3507 8.98154 11.5055 8.82343 12.0064Z' fill='currentColor'/>" +
                            "</svg></span>" +
                            "</a>"
                            +
                            "<a  href='/Team/Delete/" + data.id + "'class='btn delete' data-id='" + data.id + "'>" +
                            "<span class='svg-icon svg-icon-2'>" +
                            "<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>" +
                            "<path d='M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z' fill='currentColor'></path>" +
                            "<path opacity='0.5' d='M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z' fill='currentColor'></path>" +
                            "<path opacity='0.5' d='M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z' fill='currentColor'></path>" +
                            "</svg></span>" +
                            "</a>"
                            +
                            "<a  href='/Team/ProfileTeam/" + data.id + "'class='btn delete' data-id='" + data.id + "'>" +
                            "<span class='svg - icon svg - icon - 2'>" +
                            "<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>"+
                            "<path d='M20 14H18V10H20C20.6 10 21 10.4 21 11V13C21 13.6 20.6 14 20 14ZM21 19V17C21 16.4 20.6 16 20 16H18V20H20C20.6 20 21 19.6 21 19ZM21 7V5C21 4.4 20.6 4 20 4H18V8H20C20.6 8 21 7.6 21 7Z' fill='currentColor'></path>" +
                            "<path opacity='0.3' d='M17 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H17C17.6 2 18 2.4 18 3V21C18 21.6 17.6 22 17 22ZM10 7C8.9 7 8 7.9 8 9C8 10.1 8.9 11 10 11C11.1 11 12 10.1 12 9C12 7.9 11.1 7 10 7ZM13.3 16C14 16 14.5 15.3 14.3 14.7C13.7 13.2 12 12 10.1 12C8.10001 12 6.49999 13.1 5.89999 14.7C5.59999 15.3 6.19999 16 7.39999 16H13.3Z' fill='currentColor'></path>" +
                            "</svg></span>" +
                            "</a>";
                    },
                    createdCell: function (cell, cellData, rowData, rowIndex, colIndex) {
                        if (colIndex === 1) { // Assuming the delete button is in the third column
                            var deleteBtn = $(cell).find('.delete');
                            var deleteId = $(deleteBtn).data('id');

                            deleteBtn.on('click', function () {
                                // Show the SweetAlert confirmation
                                Swal.fire({
                                    title: 'Confirm',
                                    text: 'Are you sure you want to delete this task?',
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonText: 'Yes',
                                    cancelButtonText: 'No'
                                }).then(function (result) {
                                    if (result.isConfirmed) {
                                        var deleteUrl = '/PersonalTask/Delete/' + deleteId;

                                        // Send the request to delete the task
                                        $.ajax({
                                            url: deleteUrl,
                                            type: 'DELETE',
                                            success: function (response) {
                                                // Handle the success response
                                                console.log(response);
                                            },
                                            error: function (error) {
                                                // Handle the error
                                                console.log(error);
                                            }
                                        });
                                    }
                                });
                            });
                        }
                    }
                }
            ],
        );
        function _funAfterGetData() {
            $('.status-check-input').change(function () {
                let me = this;
                if (me.checked) {
                    $.ajax(
                        {
                            url: me.dataset.action + "1"
                        });
                }
                else {
                    $.ajax(
                        {
                            url: me.dataset.action + "2"
                        });
                }
            });

            $('.onSale-check-input').change(function () {
                let me = this;
                if (me.checked) {
                    $.ajax(
                        {
                            url: me.dataset.action + true
                        });
                }
                else {
                    $.ajax(
                        {
                            url: me.dataset.action + false
                        });
                }
            });
        }
        $('#TaskFilter').on('click', function () {
            // Redraw the DataTable
            dataTable.ajax.reload();
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

}