@model TeamViewModel

<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
</div>
<!--end::Toolbar-->
<!--begin::Content container-->
<div id="kt_app_content_container" class="app-container container-xxl">
	<!--begin::Navbar-->
	<div class="card mb-5 mb-xxl-8">
		<div class="card-body pt-9 pb-0">
			<!--begin::Details-->
			<div class="d-flex flex-wrap flex-sm-nowrap">
				<!--begin: Pic-->
				<div class="me-7 mb-4">
					<div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
						<img src="~/Images/@Model.ImageUrl" alt="image" />
						<div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"></div>
					</div>
				</div>
				<!--end::Pic-->
				<!--begin::Info-->
				<div class="flex-grow-1">
					<!--begin::Title-->
					<div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
						<!--begin::User-->
						<div class="d-flex flex-column">
							<!--begin::Name-->
							<div class="d-flex align-items-center mb-2">
								<a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">@Model.Name</a>
								<a href="#">
									<!--begin::Svg Icon | path: icons/duotune/general/gen026.svg-->
									<span class="svg-icon svg-icon-1 svg-icon-primary">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path opacity="0.3" d="M7 20.5L2 17.6V11.8L7 8.90002L12 11.8V17.6L7 20.5ZM21 20.8V18.5L19 17.3L17 18.5V20.8L19 22L21 20.8Z" fill="currentColor"></path>
											<path d="M22 14.1V6L15 2L8 6V14.1L15 18.2L22 14.1Z" fill="currentColor"></path>
										</svg>
									</span>
									<!--end::Svg Icon-->
								</a>
							</div>
							<!--end::Name-->
							<!--begin::Info-->
							<div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
								<span>Team Leader :</span>
								<a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary mb-2">
									<!--begin::Svg Icon | path: icons/duotune/communication/com011.svg-->
									<span class="svg-icon svg-icon-4 me-1">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="currentColor" />
											<path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="currentColor" />
										</svg>
									</span>
									<!--end::Svg Icon-->
									@Model.TeamLeaderUserName
								</a>
							</div>
							<!--end::Info-->
						</div>
						<!--end::User-->
						<!--begin::Actions-->
						<div class="d-flex my-4">
							<a href="#" class="btn btn-sm btn-light me-2 editButton" data-EditId-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#ProfileEditModel">
								<!--begin::Svg Icon | path: icons/duotune/arrows/arr012.svg-->
								<span class="svg-icon svg-icon-3 d-none">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path opacity="0.3" d="M10 18C9.7 18 9.5 17.9 9.3 17.7L2.3 10.7C1.9 10.3 1.9 9.7 2.3 9.3C2.7 8.9 3.29999 8.9 3.69999 9.3L10.7 16.3C11.1 16.7 11.1 17.3 10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor" />
										<path d="M10 18C9.7 18 9.5 17.9 9.3 17.7C8.9 17.3 8.9 16.7 9.3 16.3L20.3 5.3C20.7 4.9 21.3 4.9 21.7 5.3C22.1 5.7 22.1 6.30002 21.7 6.70002L10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor" />
									</svg>
								</span>
								<!--end::Svg Icon-->
								<!--begin::Indicator label-->
								<span class="indicator-label">Update Profile</span>
								<!--end::Indicator label-->
							</a>
						</div>
						<!--end::Actions-->
					</div>
					<!--end::Title-->
					<!--begin::Stats-->
					<div class="d-flex flex-wrap flex-stack">
						<!--begin::Wrapper-->
						<div class="d-flex flex-column flex-grow-1 pe-8">
							<!--begin::Stats-->
							<div class="d-flex flex-wrap">
								<!--begin::Stat-->
								<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
									<!--begin::Number-->
									<div class="d-flex align-items-center">
										<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
										<span class="svg-icon svg-icon-3 svg-icon-success me-2">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
												<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
											</svg>
										</span>
										<!--end::Svg Icon-->
										<div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="4500" data-kt-countup-prefix="$">0</div>
									</div>
									<!--end::Number-->
									<!--begin::Label-->
									<div class="fw-semibold fs-6 text-gray-400">Earnings</div>
									<!--end::Label-->
								</div>
								<!--end::Stat-->
							</div>
							<!--end::Stats-->
						</div>
						<!--end::Wrapper-->
					</div>
					<!--end::Stats-->
				</div>
				<!--end::Info-->
			</div>
			<!--end::Details-->
			<!--begin::Navs-->
			<ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
				<li  class="nav-item mt-2">
					<a  class="nav-link text-active-primary ms-0 me-10 py-5 disable-select active" >OverView</a>
				</li>
				<li class="nav-item mt-2">
					<a  class="nav-link text-active-primary ms-0 me-10 py-5 disable-select" >Members</a>
				</li>
				<li class="nav-item mt-2">
					<a class="nav-link text-active-primary ms-0 me-10 py-5 disable-select">Likes</a>
				</li>
			</ul>
			<!--begin::Navs-->
		</div>
	</div>
	<!--end::Navbar-->
	<!--begin::Row-->
	<div class="row g-5 g-xxl-8">
		<div class="card" id="cardContent">
			<partial name="_OverView"></partial>
		</div>
	</div>
	<!--end::Row-->
	<div id="EditModal"></div>
</div>
<!--end::Content container-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function () {
		// Handle link click events
		$("ul.nav li.nav-item a").on("click", function (e) {
			e.preventDefault(); // Prevent default link behavior

			var value = $(this).text(); // Get the text of the clicked link
			// Remove active class from all links
			$("ul.nav li.nav-item a").removeClass("active");

			// Add active class to the clicked link
			$(this).addClass("active");

			// AJAX request to send the text value to the server-side action method
			$.ajax({
				url: "/Team/LoadPartialView", // Replace with the actual URL or route to the action method
				type: "POST", // Or "GET" depending on your server-side implementation
				data: { target: value }, // Pass the text value to the action method
				success: function (response) {
					// Handle the response here (e.g., update the card content)
					console.log("Content loaded successfully:", response);
					$("#cardContent").empty().html(response);

				},
				error: function () {
					console.log("Error occurred while loading content.");
				}
			});
		});
	});

	$(document).on("click", ".editButton", function () {
		let modelId = $(this).closest("a[data-EditId-id]").attr("data-EditId-id");
		$.ajax(
			{
				url: "/Team/Update/" + modelId,
				success: function (result) {
					$(".modal-backdrop.show").remove();
					$("#EditModal").html(result);
					$("#ProfileEditModel").modal("show");
				}
			});
		return false;
	});

</script>
<style>
	.disable-select {
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
	}
</style>
