
<!--begin::Row-->
<div class="row g-5 g-xxl-8">
	<!--begin::Col-->
	<div class="col-xl-12">
		<!--begin::Feeds Widget 1-->
		<div class="card mb-5 mb-xxl-8" style="">
			<!--begin::Body-->
			<div class="card-body pb-5">
				<!--begin::Header-->
				<div class="d-flex align-items-center">
					<!--begin::User-->
					<div class="d-flex align-items-center flex-grow-1">
						<!--begin::Avatar-->
						<div class="symbol symbol-45px me-5">
							<img src="~/assets/media/avatars/300-6.jpg" alt="" />
						</div>
						<!--end::Avatar-->
						<!--begin::Info-->
						<div class="d-flex flex-column">
							<a href="#" class="text-gray-900 text-hover-primary fs-6 fw-bold">Grace Green</a>
							<span class="text-gray-400 fw-bold">PHP, SQLite, Artisan CLI</span>
						</div>
						<!--end::Info-->
					</div>
					<!--end::User-->
				</div>
				<!--end::Header-->
				<!--begin::Separator-->
				<br>
				<div class="separator mb-4"></div>
				<!--end::Separator-->
				<!--begin::Reply input-->
				<form class="position-relative mb-6">
					<textarea class="form-control border-0 p-0 pe-10 resize-none min-h-25px" data-kt-autosize="true" rows="1" placeholder="Reply.."></textarea>
					<div class="position-absolute top-0 end-0 me-n5">
						<a href="#">
							<span class="btn btn-icon btn-sm btn-active-color-primary pe-0 me-2">
								<!--begin::Svg Icon | path: icons/duotune/communication/com008.svg-->
								<span class="svg-icon svg-icon-2x mb-3">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
										<path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
									</svg>
								</span>
								<!--end::Svg Icon-->
							</span>
						</a>
						
					</div>
				</form>
				<!--edit::Reply input-->
			</div>
			<!--end::Body-->
		</div>
		<!--end::Feeds Widget 1-->
		<!--begin::Feeds Widget 3-->
		<div class="card mb-5 mb-xxl-8">
			<!--begin::Body-->
			<div class="card-body pb-0">
				<!--begin::Header-->
				<div class="d-flex align-items-center mb-3">
					<!--begin::User-->
					<div class="d-flex align-items-center flex-grow-1">
						<!--begin::Avatar-->
						<div class="symbol symbol-45px me-5">
							<img src="~/assets/media/avatars/300-21.jpg" alt="" />
						</div>
						<!--end::Avatar-->
						<!--begin::Info-->
						<div class="d-flex flex-column">
							<a href="#" class="text-gray-900 text-hover-primary fs-6 fw-bold">Carles Nilson</a>
							<span class="text-gray-400 fw-bold">Yestarday at 5:06 PM</span>
						</div>
						<!--end::Info-->
					</div>
					<!--end::User-->
				</div>
				<!--end::Header-->
				<!--begin::Post-->
				<div class="mb-7">
					<div class="text-gray-800 mb-5">Outlines keep you honest. They stop you from indulging in poorly thought-out metaphors about driving and keep you focused on the overall structure of your post</div>
				</div>
				<!--end::Post-->
			</div>
			<!--end::Body-->
		</div>
		<!--end::Feeds Widget 3-->
	</div>
	<!--end::Col-->
</div>
<!--end::Row-->
