
<!--begin Content Popup-->
<div class="modal fade" id="SubmissionModel" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <div class="modal-content rounded">
        </div>
    </div>
</div>
<!--End Content Popup-->

<div id="kt_app_content_container" class="app-container container-l">
    <div class="card mb-5 mb-xxl-8">
        <div class="card-header border-0 pt-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label fw-bold fs-3 mb-1"> Assignment Submission Managment </span>
            </h3>
            <!--begin::Actions-->
            <div style="padding-left:350px" class="d-flex align-items-center gap-2 gap-lg-3">
                <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Provide your feedback">
                    <div class="btn addSubmission" type="button" data-bs-toggle="modal" data-bs-target="#SubmissionModel">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                        <span class="svg-icon svg-icon-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                                <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        Add Submission
                    </div>
                </div>

            </div>
            <!--end::Actions-->
        </div>
        <div class="card-body py-4">
            <div class="table-responsive">
                <table id="kt_datatable_dom_positioning" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800 px-7">
                            <th>Created At</th>
                            <th >Left Time</th>
                            @*<th class="text-center">Files </th>*@
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>



<script>
    $(document).on("click", ".addSubmission", function (e) {
        e.preventDefault();
        const dataIdValue = document.getElementById("currentID").getAttribute("data-id");
        $.ajax({
            url: "/TeamMember/CreateSubmission/",
            data:{
                assignmentId: dataIdValue
            },
            type: 'GET',
            success: function (result) {
                $(".modal-content").html(result);
                $("#SubmissionModel").modal("show");
            }
        });
        return false;
    });
</script>
